@model Job_Portal.Models.Employeer

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Add Job</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployerId"/>
            <div class="Second">
            <div class="form-group">
                <label class="control-label">Login name</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            </div>
            <div class="Second">
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            </div>
            <div class="Second">
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            </div>
            <div class="Second">
            <div class="form-group">
                <label class="control-label">Contact Number</label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            </div>
            <div class="Second">
            <div class="form-group">
                <label class="control-label">Email Id</label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
