@model Job_Portal.Models.Employeer

@{
    ViewData["Title"] = "LoginPageE";
    Layout = "_Layout";
}
<h1>LoginPage</h1>

<h4>Employeer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginPageE">
            <div class="First">
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="First">
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                @*   <input type="checkbox" name="remember" class="form-control" />
            <label>Remember Me</label>*@
                Remember Me  <input type="checkbox" name="remember" />
            </div>
            <div class="form-group">
                <label style="color:red;">@ViewBag.error</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
