
@{
    ViewData["Title"] = "ShowResumeByEmployee";
}
<script>
    /*alert(window.location.host)*/
    window.location.href = "http://" + window.location.host + "/@ViewBag.path";
</script>


<h1>Download Resume</h1>
<a href="~/@ViewBag.path" style="color:blue;">Download</a>
